.container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
  background: #ddd; }

.title {
  margin: 5px;
  padding: 5px;
  text-align: center; }

.panel {
  position: relative;
  width: 570px;
  height: 570px;
  margin: 0 auto;
  padding: 15px;
  background: #999; }

.cell {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: #f00; }
  .cell.active {
    border-radius: 50%; }
    .cell.active:before {
      display: none; }
    .cell.active:after {
      display: none; }
  .cell.white {
    background: url("q-white.png") no-repeat;
    background-image: radial-gradient(circle, #fff 10%, #eee 80%, #fff 10%); }
  .cell.black {
    background: url("q-black.png") no-repeat;
    background-image: radial-gradient(#999 10%, #111111 60%, black 30%); }
  .cell:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black; }
  .cell:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 1px;
    height: 100%;
    background: #000; }
  .cell.top:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #000; }
  .cell.top:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 30px;
    background: #000; }
  .cell.right:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell.bottom:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #000; }
  .cell.bottom:after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 30px;
    background: #000; }
  .cell.left:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell.top.left:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.top.left:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell.top.right:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.top.right:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell.bottom.left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.bottom.left:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell.bottom.right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #000; }
  .cell.bottom.right:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 15px;
    height: 1px;
    background: #000; }
  .cell:hover {
    border: 1px dotted blue;
    border-radius: 50%; }
    .cell:hover:before {
      display: none; }
    .cell:hover:after {
      display: none; }

.btns {
  padding: 5px 0;
  text-align: center; }

.btn {
  height: 30px;
  padding: 0 20px;
  margin: 0 10px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  background: #5d5551;
  color: #fff;
  cursor: pointer; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1314;
  background: rgba(0, 0, 0, 0.4);
  display: none; }
  .modal.active {
    display: block; }
  .modal .modal-content {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -200px;
    border-radius: 10px;
    background: rgba(235, 235, 255, 0.8); }
  .modal .modal-content-body {
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #2a48bb; }
  .modal .modal-content-footer {
    text-align: center; }

/*# sourceMappingURL=me.css.map */
